.custom-button {
  padding: 15px 20px;
  font-size: 1rem;
  outline: none;
  border: none;
  background-color: hsl(219, 69%, 56%);
  cursor: pointer;
  border-radius: 0.5em;
  transition: 0.1s;
  color: white;

  &:hover {
    background-color: hsl(219, 69%, 50%);
  }

  &:active {
    transform: scale(0.98);
  }
}
