@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap');

:root {
  --header-height: 70px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent !important;
}

*:hover,
*:active,
*:focus {
  outline: none !important;
}

body,
html {
  height: 100vh;
}

body {
  background-color: hsl(219, 4%, 4%);
  font-family: 'Comfortaa', cursive;
}

#root {
  height: 100%;
}
